*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100%;
    /* background-color: rgb(135, 135, 169); */
    display: grid;
    grid-template-rows: 10% 30% 50%;
    grid-template-columns: 70% 30%;
}
#elem1 i{
    font-size: 15px;
     background-color: rgb(0, 0, 0);
     color: white;
     padding: 5px;
     border-radius: 50%;
 }
#elem1{
    width: 100%;
    height: 100%;
    padding: 30px;
    grid-column: 1/3;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 40px;
    /* background-color: rgb(225, 134, 14); */
}
#elem4{
    grid-column: 2/3;
    /* background-color: rgb(10, 56, 112); */
}
#elem1 a{
    color: black;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}
#text  {
    width: 100%;
    height: 100%;
    grid-column: 1/3;
    /* background-color: rgb(31, 146, 159); */
    padding: 5px 45px;
}
#text h1{
    font-size:370%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
#para{
    width: 100%;
    height: 100%;
    /* margin-top: 10px; */
    padding-left: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:570;
}
.el{
    padding: 15px 0;
    margin-top: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    /* background-color: azure; */
    display: flex;
    border-top: 2px solid #000000;
    justify-content: space-between;
}
.el a{
    font-size: 25px;
    color: #000000;
    text-decoration: none;
}
.el  i{
    font-size: 15px;
    font-weight: 500;
    opacity:0;
}
.footer{
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    /* background-color: blueviolet; */
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.el:hover i{
    opacity: 1;
}
.nav:hover{
    border-bottom: 2px solid black;
}
.icon:hover{
    font-size: 27px;
}
@media (max-width:600px) {
    #main{
        width: 100%;
        height: 100%;
        /* background-color: rgb(135, 135, 169); */
        display: grid;
        grid-template-rows: 10% 25% 15% 40% 5%;
        grid-template-columns: 100%;
    }

    #elem4{
        height: 80%;
        grid-row: 4;
        grid-column: 1/3;
        margin-top: 10px;
        padding: 10px 20px 0;
        padding-left: 25px;
        font-size: 30px;
        /* background-color: rgb(73, 135, 210); */
    }
    #elem1{
        gap: 1em;
        padding: 10px;
        border-bottom: 2px #000000 solid;
        /* background-color: rgb(225, 134, 14); */
    }
    #text> h1{
        /* background-color: rgb(90, 90, 152); */
        height: 25%;
        padding-left: 15px;
        font-size: 32px;
        
        
    }
    #para  {
        width: 100%;
        padding-left:20px;
        /* background-color: chartreuse; */
    }
    #text  {
        width: 100%;
        height: 100%;
        margin-top: 10px;
        /* padding-left: 10px; */
        /* margin-left: 30px; */
        /* background-color: brown; */
    }
    .el a{
        font-size: 15px;
        color: #000000;
        text-decoration: none;
    }
    .el  i{
        font-size: 15px;
        font-weight: 500;
        opacity:0;
    }
    .el:hover i{
        opacity: 1;
    }

}
